.App {
  text-align: center;
}
body{
  background-color: rgba(0, 0, 0, 0.596);
  color: white;
}

.black{
  color: black;
}
.underline{
  text-decoration: underline;
}
.bold{
  font-weight: bold;
}

.button{
  background-color: green;
  color: black;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}
.button:hover {
  background-color:  lightgreen;
  color: black;
}